@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Pixelify+Sans:wght@400;500&family=Roboto+Mono&family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

* {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Pixelify Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
blockquote,
p {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 35px 0;
  width: 100%;
}

td, th {
  border: 1px solid #4f9683;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#table-output-preview {
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 15px;
  width: fit-content;
}

.download-button {
  text-align: center;
  margin: 60px 0;
}

.download-button a {
  text-decoration: none;
  border: 1px solid greenyellow;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  background-color: rgb(106, 106, 118);
  color: aliceblue;
}

.download-button a:hover {
  background-color: aquamarine;
  color: blueviolet;
  transition: ease-in-out 0.2s;
}